form(action="/term/" + tid +"/edit", method:"GET")
  .name
   label(for:name) #{name}
   input(type:'text', name:name, value:tvalue)
   input(type:'hidden', name:"vid", value:vid)
   
   input(type:'submit', name:'addTerm', value:"Add")
   