h1= title
p Welcome to #{title}
.taxonomy
 .taxonomy-name
  ul.terms
    - each vocabulary in taxonomy
      li.items
        input(type:'hidden', value:vocabulary.vid)
        span
         | #{vocabulary.name}
         strong.sub sub
        a(href="#") Add