!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jquery-ui/css/ui-lightness/jquery-ui-1.8.12.custom.css')
    script(type='text/javascript', src="/javascripts/jquery.js")
    script(type='text/javascript', src="/javascripts/jquery-ui/development-bundle/ui/jquery-ui-1.8.12.custom.js")
    script(type='text/javascript', src='/javascripts/jquery-ui/development-bundle/ui/jquery.ui.dialog.js')
    script(type='text/javascript', src="/javascripts/taxonomy.js")
  body!= body